# Xcode
## User settings
xcuserdata/
*.xcuserdatad/
*.xcuserstate

## Build generated
build/
DerivedData/
*.moved-aside
*.xccheckout
*.xcscmblueprint

## App bundle & archives
*.app
*.dSYM
*.ipa

# macOS system files
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes

# Temporary files
*.tmp
*.log
*.swp
*~
